@charset "utf-8";

body{
padding: 0;
margin: 0;

}

#all{
width: 100%;
height: auto;

}

#nav{
width: 100%;
height: 600px;
background-image: url(img/portal.jpg);
background-size: cover;
}
#main{
width: 100%;
height: 55px;
margin-bottom: 145px;
}

#main_L{
width: 385px;
height: 40px;
float: left;
padding-left: 15px;
padding-top: 15px;
}
#logo{
width: 100px;
height: 31px;
background-image: url(img/Logo.svg.png);
background-size: cover;
}

#main_R{
width: 300px;
height: 55px;
float: right;
background-color: #25D991;
}
#menu{

	width: 75px;
	height: 55px;
background-color: #F92005;
float: left;	
}

#nav_Mid{
width: 340px;
height: 150px;
background-color: #F92005;
margin-left: auto;
margin-right: auto;
margin-bottom: 145px;
}
#search{
width: 100%;
height: 75px;
background-color: rgba(0,0,0,0.8);
padding-top: 30px;

}
#search_box{

	width: 900px;
	height: 45px;
	background-color: #FFFFFF ;
margin-left: auto;
margin-right: auto;
border-radius: 2px;

}

#content{
width: 100%;
height: 550px;
background-color: #BDDB23;
}
#text{
width: 100%;
height: 110px;

background-color: #E519CC;
padding-top: 40px;

}

#text_box{
width: 175px;
height: 70px;
background-color: #29D53F;
margin-left: auto;
margin-right: auto;

}

#box{

	width: 100%;
	height: 762px;
background-color: #3624DA;


}
#pic{

	width: 695px;
	height: 712px;
	background-color: #D7F00E;
	margin-left: auto;
margin-right: auto;
}

#pic_imgL{

	width: 695px;
	height: 190px;
	background-color: #BDDB23;
	float: left;
	margin-bottom: 22px;
	padding-top: 155px;
}
#imgL_text{
width: 65px;
height: 30px;
margin-left: auto;
margin-right: auto;
background-color: #3FBF47;

}
#pic_imgMid{

	width: 335px;
	height: 190px;
	background-color: #BDDB23;
	float: left;

margin-right: 25px;
padding-top: 155px;
}
#imgMid_text{

width: 65px;
height: 30px;
margin-left: auto;
margin-right: auto;
background-color: #3FBF47;
}
#pic_imgR{
width: 335px;
height: 190px;
background-color: #BDDB23;
float: left;
padding-top: 155px;
}
#imgR_text{

width: 65px;
height: 30px;
margin-left: auto;
margin-right: auto;
background-color: #3FBF47;

}
#footer{
width: 100%;
height: 40px;
background-color: #C53972;
}

#footer_text{
width: 700px;
height: 40px;
margin-left:auto;
margin-right: auto;
background-color: #20DEAA;

}